

.app {
  text-align: center;
}
.div-form {
  margin: 15px;
}

.div- label {
  width: 50px;
  display: inline-block;
  text-align: right;
  margin-right: 7px;
}

.div-form input {
  padding: 5px 7px;
  border-radius: 3px;
  border: 1px solid #aaa;
  width: 200px;
}

button {
  cursor: pointer;
  padding: 5px 10px;
  /* margin-left: 73px; */
  border-radius: 3px;
  border: 1px solid #aaa;
}

button:hover {
  background: #ddd;
}
